{% extends "prodbase.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% block style %}
<title>Password Reset - Naked Solar Limited</title>
<link rel="stylesheet" href="{% static 'css/about.css'%}">
{% endblock %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<main>
    <section class="about-hero">

        <div class="contain container mt-4">
            <div class="descrip">
                <h1>Password Reset</h1>
                <p> </p>
            </div>
            <div class="image"><img src="{% static 'img/faq.svg'%}" alt="Naked solar"></div>
        </div>

    </section>
    <!--Section: Contact v.2-->
    <!--Section: Contact v.2-->
    <div class="container mt-4">

        <!--Navbar-->

        <!--/.Navbar-->

        <!--Section: Products v.3-->
        <section class="mb-4">

            <!--Grid row-->
            <div class="row wow fadeIn">

                <div class="col-md-6 mx-auto">
<h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a
        href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
{% else %}
{% if form %}
<form method="POST" action="{{ action_url }}">
    {% csrf_token %}
    {{ form|crispy}}
    <input type="submit" class="btn btn-green" name="action" value="{% trans 'change password' %}" />
</form>
{% else %}
<p>{% trans 'Your password is now changed.' %}</p>
{% endif %}
{% endif %}
</div></div></section></div>
</main>
{% endblock %}