{% extends 'prodbase.html' %}

{% load static %}
{% block style %}
<title>About Us - Naked Solar Limited </title>
<link rel="stylesheet" href="{% static 'css/about.css'%}">
{% endblock %}
{% block content %}
<section class="about-hero">

    <div class="contain"></div>

</section>
<main>
    <section class="about-why">

        <div class="contain mt-5">
            <div class="title container text-left">
                <h1>We are going NAKED</h1>
                <h2 class="mt-2">We hope you will too</h2>

            </div>

            <div class="body mt-5 mb-4">
                <div class="sepa-image">
                    <img src="{% static 'img/about.png'%}" alt="">
                </div>
                <div class="sepa ml-5 ">
                    <h1>Why we are coming naked with the truth in the solar
                        industry</h1>
                    <p>Until April 2020, we were popularly known as The Major Resources Limited.
                        We have performed
                        outstandingly but moving forward as we expand in a hope to serve you better, we decided to
                        expose
                        you to the NAKED Truth. </p>

                </div>
            </div>
        </div>
    </section>
    <section class="about-why">

        <div class="contain mt-5">


            <div class="body mt-5 mb-4">
                <div class="sepa-image">
                    <img src="{% static 'img/about.png'%}" alt="">
                </div>
                <div class="sepa ml-5 ">
                    <h1>Why we are coming naked with the truth in the solar
                        industry</h1>
                    <p>Started in 2013, Today, is one of the leading renewable energy companies in providing sustainable
                        power solutions. <br> We provide end-to-end solar solutions. Driven by a vision to popularize
                        roof-top solar power as key source of power. <br>From a very small beginning we are able to
                        reach to
                        a sizable company size.</p>

                </div>
            </div>
        </div>
    </section>

</main>
{% endblock %}