{% extends 'prodbase.html' %} {% load crispy_forms_tags %}

{% load static %}
{% block style %}
<title>Checkout Form</title>

<link rel="stylesheet" href="{% static 'css/about.css'%}">
{% endblock %}
{% block content %}
<!--Main layout-->
<main>
    <section class="about-hero">

        <div class="contain container mt-4">
            <div class="descrip">
                <h1>Checkout Form</h1>
                <p> </p>
            </div>
            <div class="image"><img src="{% static 'img/faq.svg'%}" alt="Naked solar"></div>
        </div>

    </section>
    <!--Section: Contact v.2-->

    <div class="container wow fadeIn">

        <!-- Heading -->
        <h2 class="my-5 h2 text-center">Checkout form</h2>

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-8 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card content-->
                    <form method="POST" class="card-body">
                        {% csrf_token %}
                        <!--Grid row-->
                        <div class="row">



                        </div>
                        <!--Grid row-->

                        <!--address-->

                        {{ form|crispy}}



                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

                    </form>

                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Heading -->
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your cart</span>
                    <span class="badge green ">{{ order.items.count}}</span>
                </h4>

                <!-- Cart -->
                <ul class="list-group mb-3 z-depth-1">
                    {% for order_item in order.items.all %}
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">{{ order_item.quantity }} {{ order_item.item.title }}</h6>
                            <small class="text-muted">Brief description</small>
                        </div>
                        <span class="text-muted">&#8358; {{ order_item.item.price }}</span>
                    </li>
                    {% endfor %}

                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (NAIRA)</span>
                        <strong>&#8358; {{ order.get_total }}</strong>
                    </li>
                </ul>
                <!-- Cart -->


            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
</main>
<!--Main layout-->{% endblock%}