{% extends 'prodbase.html'%}
{% load static %}
{% block style %}
<title>Contact Us</title>
<link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock %}

{% block content %}

<!--Section: Contact v.2-->
<section class="mb-4 container">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-2">Do you have any questions? </p>
    <p class="text-center w-responsive mx-auto mb-5">Please do not hesitate to contact</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="{% url 'product:contact' %}" method="POST">
                {% csrf_token %}
                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <!-- <input type="text" id="name" name="name" class="form-control"> -->
                            {{ form.name }}

                            <label for="name" class="">Your name</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <!-- <input type="text" id="email" name="email" class="form-control"> -->
                            {{ form.email }}
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->
                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <!-- <input type="text" id="subject" name="subject" class="form-control"> -->
                            {{ form.phone}}
                            <label for="subject" class="">Phone</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <!-- <input type="text" id="subject" name="subject" class="form-control"> -->
                            {{ form.subject}}
                            <label for="subject" class="">Subject</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <!-- <textarea type="text" id="message" name="message" rows="2"
                                class="form-control md-textarea"></textarea> -->
                            {{ form.message }}
                            <label for="message">Your message</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->
                <button class="col-12 btn btn-green" type="submit">Send</button>
            </form>

            <div class="text-center text-md-left">


            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p class="light-dark-text">Suite A12, Abraham Plaza, Plot 6 Ekukinam Street,
                        Utako District, Utako, Abuja (FCT), Nigeria</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p> <a class="green-text" href="tel:+2348143139245">08143139245</a></p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p> <a class="green-text" href="mailto:info@themajorresources.com.">info@themajorresources.com.</a>
                    </p>

                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->


<!--Google map-->
<section class="mb-4">
    <div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 500px">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15759.87560756185!2d7.438051!3d9.0665975!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x92a8336cde673582!2sNAKED%20SOLAR%20NIGERIA!5e0!3m2!1sen!2sng!4v1587866244684!5m2!1sen!2sng"
            frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>

<!--Google Maps-->
{% endblock%}