{% extends 'prodbase.html' %}
{% load static %}
{% block style %}
<title>Naked Solar Limited FAQ </title>
<link rel="stylesheet" href="{% static 'css/faq.css'%}">
<link rel="stylesheet" href="{% static 'css/about.css'%}">
{% endblock %}
{% block content %}

<main>
    <section class="about-hero">

        <div class="contain container mt-4">
            <div class="descrip">
                <h1>Frequently Asked Questions</h1>
                <p>Got a question? We are here to answer!!</p>
            </div>
            <div class="image"><img src="{% static 'img/faq.svg'%}" alt="Naked solar"></div>
        </div>

    </section>

    <section class="container">
        <!-- Grid row -->
        <div class="row accordion-gradient-bcg d-flex justify-content-center">

            <!-- Grid column -->
            <div class="col-md-10 col-xl-6 py-5">

                <!--Accordion wrapper-->
                <div class="accordion md-accordion accordion-2" id="accordionEx7" role="tablist"
                    aria-multiselectable="true">

                    <!-- Accordion card -->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header green  rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading1">
                            <a data-toggle="collapse" data-parent="#accordionEx7" href="#collapse1" aria-expanded="true"
                                aria-controls="collapse1">
                                <h5 class="mb-0 white-text text-uppercase font-thin">
                                    #1 What is Solar PV? <i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapse1" class="collapse show " role="tabpanel" aria-labelledby="heading1"
                            data-parent="#accordionEx7">
                            <div class="card-body mb-1 rgba-black-light white-text">
                                <p>PV stands for Photo (light) Voltaic (Electric). Solar PV panels convert light in to
                                    electricity. Pay attention to the word LIGHT, not sunlight. This means that
                                    even on
                                    cloudy days they continue to produce electricity. It’s just that their output will
                                    be higher, the brighter the light is. This is not new technology – the use of
                                    light
                                    to produce electricity dates back to the 19th Century.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->

                    <!-- Accordion card -->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header green rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading2">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse2"
                                aria-expanded="false" aria-controls="collapse2">
                                <h5 class="mb-0 white-text text-uppercase font-thin">
                                    #2 Where is the best place to mount inverters?<i
                                        class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2"
                            data-parent="#accordionEx7">
                            <div class="card-body mb-1 rgba-black-light white-text">
                                <p>The best place to install an inverter is a cool place, they are electrical
                                    appliances, which means they need all the air and cool temperature they can get,
                                    another thing to put in mind is to install it in a place where you can easily see it
                                    so that you can observe it’s performance and overall health.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->

                    <!-- Accordion card -->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header green rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading3">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse3"
                                aria-expanded="false" aria-controls="collapse3">
                                <h5 class="mb-0 white-text text-uppercase font-thin">
                                    #3 Are monocrystalline panels better than polycrystaline? <i
                                        class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3"
                            data-parent="#accordionEx7">
                            <div class="card-body mb-1 rgba-black-light white-text">
                                <p>Monocrystalline panels are relatively stronger, they will give more power per square
                                    meter. Although they are not proven to have better quality, compared to High quality
                                    Polycrystalline panel. The factors that affect the quality of solar panels are
                                    numerous, this is just one of them, therefore it is important to maximize your space
                                    with the best quality of panels.</p>
                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->
                    <!-- Accordion card -->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header green rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading4">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse4"
                                aria-expanded="false" aria-controls="collapse4">
                                <h5 class="mb-0 white-text text-uppercase font-thin">
                                    #4 What is the lifespan of solar panels? <i
                                        class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>
                        <!-- Accordion card -->
                        <div class="card">
                            <!-- Card body -->
                            <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4"
                                data-parent="#accordionEx7">
                                <div class="card-body mb-1 rgba-black-light white-text">
                                    <p>Solar PV panels lose potency over time, typically, they will lose around 15% of
                                        power
                                        over 25 years, However some very hing quality panels would lose only 2.5% over
                                        this
                                        same
                                        period of time, the quality of panel used has a big role to play to achieve
                                        these
                                        estimations. Naked solar uses high PV solar solutions which gives us accurate
                                        information about the impact of any form of degradation</p>
                                </div>
                            </div>

                        </div>
                        <!-- Accordion card -->



                    </div>
                    <!--/.Accordion wrapper-->
                    <!-- Accordion card -->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header green rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading3">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse5"
                                aria-expanded="false" aria-controls="collapse5">
                                <h5 class="mb-0 white-text text-uppercase font-thin">
                                    #5 How Many Panels do I need to buy? <i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="heading3"
                            data-parent="#accordionEx7">
                            <div class="card-body mb-1 rgba-black-light white-text">
                                <p>Solar panels to not vary based of quantity or physical size, but based on the quality
                                    and specification. Two panels might be of same size, while one is supplying 150
                                    watts the other might supply 250 watts, Domestic systems are usually made up of
                                    panels, depending on the load requirements. Naked solar goes the extra mile to
                                    inspect the site to know the most suitable system required.</p>
                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->
                    <!-- Accordion card -->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header green rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading6">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse6"
                                aria-expanded="false" aria-controls="collapse3">
                                <h5 class="mb-0 white-text text-uppercase font-thin">
                                    #6 Can I install a solar panel if I am a tenant? <i
                                        class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapse6" class="collapse" role="tabpanel" aria-labelledby="heading6"
                            data-parent="#accordionEx7">
                            <div class="card-body mb-1 rgba-black-light white-text">
                                <p>Firstly, you would check with your landlord, but solar installations are movable in
                                    99.9% of situations, so you do not need to worry about moving from one location to
                                    another, we can always move with you.</p>
                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->
                    <!-- Accordion card -->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header green rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading7">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse7"
                                aria-expanded="false" aria-controls="collapse3">
                                <h5 class="mb-0 white-text text-uppercase font-thin">
                                    #7 How long will it take to see the benefits of my solar investments? <i
                                        class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapse7" class="collapse" role="tabpanel" aria-labelledby="heading7"
                            data-parent="#accordionEx7">
                            <div class="card-body mb-1 rgba-black-light white-text">
                                <p>The Good thing is, you will start seeing returns on your solar investment right
                                    away!!
                                    it also depends on the quality of your inverters, solar Panels and also your local
                                    weather conditions, typically the weather in Nigeria is good for solar systems and
                                    maximizes your profit.
                                </p>
                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->
                    <!-- Accordion card -->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header green rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading8">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse8"
                                aria-expanded="false" aria-controls="collapse3">
                                <h5 class="mb-0 white-text text-uppercase font-thin">
                                    #8 How long does a solar PV installation take? <i
                                        class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapse8" class="collapse" role="tabpanel" aria-labelledby="heading8"
                            data-parent="#accordionEx7">
                            <div class="card-body mb-1 rgba-black-light white-text">
                                <p>Naked Solar uses qualified installers and engineers, Home installation takes up to
                                    two days, However installations can be completed in one day, depending on the
                                    weather condition and location.</p>
                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
    </section>

    <section class="contac">
        <div class="container d-flex justify-content-center flex-column">
            <h1 class="text-center">If you don't see your question here</h1>
            <p class="text-center">Drop us a line on our Contact page</p>
            <a href="{% url 'product:contact' %}" class="btn btn-orange ">Contact
                Us</a>
        </div>
    </section>
</main>
{% endblock %}