{% extends 'prodbase.html' %}
{% load static %}
{% block style %}
<title> Installation | Naked Solar Limited </title>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/about.css'%}">

{% endblock %}
{% block content %}


<main>
    <section class="about-hero">

        <div class="contain container mt-4">
            <div class="descrip">
                <h1>Installation.</h1>
                <p>Here are the things you need to know.</p>
            </div>
            <div class="image"><img src="{% static 'img/faq.svg'%}" alt="Naked solar"></div>
        </div>

    </section>

    <section class="about-why">

        <div class="contain container mt-3 mb-3">
            <div class="title text-center mb-3">
                <h1 class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">I’m ready to go Naked!
                </h1>
                <h2 class="mt-2 " data-wow-delay="0.8s" data-wow-duration="3s">All you need at this point
                    will be for you to give us a call!!
                </h2>

            </div>

            <div class="body mt-5 mb-4">

                <div class="sepa">
                    <h1 class="mt-2" data-wow-delay="0.5s" data-wow-duration="3s">
                        How long does installation take?
                    </h1>
                    <h3 class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">


                    </h3>
                    <p class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">
                        Most domestic installations can be completed in one day. We’ll let you know if we expect yours
                        to take longer. Our weekly domestic schedule has installations on Monday – Thursday and we
                        always keep Friday free to catch up with anything that was left over from the week. Therefore
                        you may need to allow us access on the Friday too or another day if that is not convenient to
                        you.
                        Commercial installation duration varies greatly and we’ll liaise with you to ensure you know
                        what’s going to happen and to ensure we minimise disruption to your business.


                    </p>

                </div>
                <div class="sepa-image">
                    <img src="{% static 'img/paper.jpg'%}" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="about-why">

        <div class="contain container mt-5 mb-2">


            <div class="body mt-5 mb-4">
                <div class="sepa-image">
                    <img src="{% static 'img/saving.jpg'%}" alt="">
                </div>
                <div class="sepa">
                    <h1 class="mt-2">What are you saving
                        financially? </h1>
                    <h3 class="mt-2">

                    </h3>
                    <p class="mt-2">
                        We use independent solar software to get this done, depending on your location and the
                        availability of this feature in your location, this software provides information about details
                        like your roof pitch, orientation, shading, inverter performance, local weather data, efficiency
                        of the storage system ( Batteries) the amount of electricity you use and when you use it.

                        A perfect prediction of PV systems with accuracy are almost impossible due to the variability in
                        the amount of solar radiation (Sunlight) from location to location and from year to year,
                        however research shows that PV software predictions are typically outperformed by 8% or more on
                        average, with very few installations not reaching the prediction figures.

                    </p>

                </div>


            </div>
        </div>
    </section>
    <section class="energy">
        <div class="body">
            <p>When we send a quote to you, be rest assured that there would not be any hidden costs, for supplies and
                installation of panels, inverter, certificate of completion, or any other related charges, so everything
                you need to get up and running is included.</p>
        </div>

    </section>


    <section class="about-why">

        <div class="contain container mt-3 mb-3">


            <div class="body mt-5 mb-4">

                <div class="sepa">
                    <h1 class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">Do I need to get
                        planning permission?
                    </h1>
                    <h3 class="mt-2" data-wow-delay="0.5s" data-wow-duration="3s">

                    </h3>
                    <p class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">Planning permission is
                        usually needed if the installation is ground mounted, in a
                        conservation area, government laid our roots or a government listed building, if you are having
                        more questions about permission, please call your local planning department or call us for
                        guidance and further advise on specific situations.

                    </p>

                </div>
                <div class="sepa-image">
                    <img src="{% static 'img/top.jpeg'%}" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="about-why">

        <div class="contain container mt-3 mb-3">


            <div class="body mt-5 mb-4">
                <div class="sepa-image">
                    <img src="{% static 'img/garr.jpg'%}" alt="">
                </div>
                <div class="sepa">
                    <h1 class="mt-2" data-wow-delay="0.5s" data-wow-duration="3s">After service follow
                        up
                    </h1>
                    <h3 class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">

                    </h3>
                    <p class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">Well after all of this, we
                        would send you a mail or schedule a call after one month to make sure you are happy and enjoying
                        your system, we will also contact you from time to time, usually yearly to check and remind you
                        of any maintenance if applicable to you type of system. Of course we’re always available on
                        email or on the phone if you have any questions about our favourite subject, Solar PV and
                        storage.
                    </p>

                </div>

            </div>
        </div>
    </section>
    <section class="about-why">

        <div class="contain container mt-3 mb-3">


            <div class="body mt-5 mb-4">

                <div class="sepa">
                    <h1 class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">Complaints policy
                    </h1>
                    <h3 class="mt-2" data-wow-delay="0.5s" data-wow-duration="3s">

                    </h3>
                    <p class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">We always endeavour to
                        provide the best service and products for our customers. <br> However, we recognise that there
                        may be
                        times where our customers may not be completely satisfied. To ensure we are able to put things
                        rights as soon as we can, please read our complaints procedure below and we will respond
                        promptly to ensure complete satisfaction.
                        As soon as possible after the completion of the works, please inspect the work to ensure
                        everything has been carried out to our usual high standards. <br>In the unlikely event there is
                        anything you are not completely satisfied with, please contact us as soon as you can in order
                        that we can rectify any problems as soon as possible. Either call us on <a
                            href="tel:+2348143139245">08143139245</a>, or write to
                        at Naked Solar Ltd, Suite A12, Abraham plaza, beside ABC transport company, Utako-District,
                        Abuja, Nigeria, or email us at <a href="mailto:truth@nakedsolar.ng">truth@nakedsolar.ng</a> <br>
                        We aim to respond within 1 working day of receiving your complaint and where possible, will
                        provide you with a date to remedy any issues raised.


                    </p>

                </div>
                <div class="sepa-image">
                    <img src="{% static 'img/conc.jpeg'%}" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="callback">

        <div class="contain"><a href="{% url 'product:callback' %}" class="call-btn let-btn">Let Us Call You Back</a>
            <a href="{% url 'details:maintenance' %}" class="call-btn sol-btn">Maintenance Options</a></div>
    </section>
<section class="formerly mt-4 mb-4">
    <div class="container">
        <div class="box-8">
            <h1>Call <a href="tel:+2348143139245">0814 313 9245</a></h1>
            <p>Suite A12, Abraham Plaza, Plot 6 Ekukinam Street, Utako District, Utako, Abuja (FCT), Nigeria</p>
            <p><a href="mailto:info@nakedsolar.ng">info@nakedsolar.ng</a></p>
        </div>
        <div class="box-8">
            <h1>As at 2020, Proudly </h1><img src="{% static 'img/faq.svg' %}" alt="">
        </div>
        <div class="box-8">
            <h1>FORMERLY KNOWN AS...</h1><img src="{% static 'img/major.jpg' %}" class="major" alt="">
        </div>
    </div>
</section>
    <section class="cont text-center ">

        <a href="{% url 'product:contact' %}" type="button" class="btn orange mt-5">Contact Us</a>
    </section>
</main>
{% endblock %}