{% extends 'prodbase.html' %}
{% load static %}
{% block style %}
<title>Maintenance | Naked Solar Limited </title>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/about.css'%}">

{% endblock %}
{% block content %}


<main>
    <section class="about-hero">

        <div class="contain container mt-4">
            <div class="descrip">
                <h1>Solar Panel Maintenance</h1>
                <p>Everything you need to know </p>
            </div>
            <div class="image"><img src="{% static 'img/faq.svg'%}" alt="Naked solar"></div>
        </div>

    </section>

    <section class="about-why">

        <div class="contain container mt-3 mb-3">
            <div class="title text-center mb-3">
                <h1 class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">Solar panels are a great
                    investment
                </h1>
                <h2 class="mt-2 " data-wow-delay="0.8s" data-wow-duration="3s">But how do you maintain them?
                </h2>

            </div>

            <div class="body mt-5 mb-4">

                <div class="sepa">
                    <h1 class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">Do solar panels need to
                        be maintained?
                    </h1>
                    <h3 class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">

                        Solar panels generally require very little maintenance in order to function.
                    </h3>
                    <p class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">The only thing they need is
                        a periodic light cleaning to make sure dirt, leaves, and other debris aren't obstructing the
                        sun's rays. <br> The only time you may need more extensive maintenance is during periods of
                        heavy
                        snowfall, or if your panels' energy output starts to decrease. Let's take a closer look at how
                        to make sure your solar panels last as long as possible.
                    </p>

                </div>
                <div class="sepa-image">
                    <img src="{% static 'img/main.jpeg'%}" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="about-why">

        <div class="contain container mt-5 mb-2">


            <div class="body mt-5 mb-4">
                <div class="sepa-image">
                    <img src="{% static 'img/gar.jpg'%}" alt="">
                </div>
                <div class="sepa">
                    <h1 class="mt-2">How do you maintain solar panels? </h1>
                    <h3 class="mt-2">If your panels are tilted, you’re in luck: rainfall actually clears away debris
                        that's accumulated on them.

                    </h3>
                    <p class="mt-2">However, during the dry season or extended periods without rain, it's important to
                        clean them manually. It is generally recommended that you perform solar panel cleaning between
                        two and four times per year. The good news is that this doesn’t require much work.<br> All you
                        really need is a leaf blower or a quick spray with a garden hose, and your panels will be clean
                        and in top condition. <br>

                        In winter, you may need to clean your panels after a heavy snowfall. If you're using water to
                        clear the snow away, make sure it's lukewarm. You can also use a squeegee with a long handle.
                        Just remember, never use hot water when clearing snow off the panels. <br> The panels are made
                        of
                        tempered glass, and the extreme temperature disparity between hot water and cold panels can
                        crack them.

                        <br>

                        The installation process is done with minimal disruption, your power is only off for a few
                        minutes, we have a team of polite installers and usually clean up after work.
                    </p>

                </div>


            </div>
        </div>
    </section>
    <section class="energy">
        <div class="body">
            <p>By integrating a solar panel monitoring system into your setup, you can track how much energy your panels
                produce on any given day, and how much they produce over time. <br> This allows you to see exactly how
                various external factors affect your panels' performance and how well they're maintaining their
                efficiency across their life. <br> The monitoring system will also alert you if a panel breaks or
                malfunctions so that you can repair or replace it.</p>
        </div>

    </section>


    <section class="about-why">

        <div class="contain container mt-3 mb-3">


            <div class="body mt-5 mb-4">

                <div class="sepa">
                    <h1 class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">Ground panels vs. roof
                        panels
                    </h1>
                    <h3 class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">
                        Is there a maintenance difference?
                    </h3>
                    <p class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">The only real difference
                        between maintaining ground-mounted solar systems and roof solar systems is that ground panels
                        are easier to access, and therefore easier to keep clean. <br> If you notice a buildup of snow
                        or
                        other debris, you can simply sweep it off with a broom.

                    </p>

                </div>
                <div class="sepa-image">
                    <img src="{% static 'img/top.jpeg'%}" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="about-why">

        <div class="contain container mt-3 mb-3">


            <div class="body mt-5 mb-4">
                <div class="sepa-image">
                    <img src="{% static 'img/garr.jpg'%}" alt="">
                </div>
                <div class="sepa">
                    <h1 class="mt-2" data-wow-delay="0.5s" data-wow-duration="3s">How to repair or
                        replace solar panels
                    </h1>
                    <h3 class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">
                        If your panels need to be repaired or replaced, it's best to hire a professional.
                    </h3>
                    <p class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">. If they're losing
                        efficiency and still under a performance/power output warranty, then call your solar company.
                        <br>
                        They'll send someone to assess the situation and either fix the problem or replace the panels.
                        If your panels have sustained physical damage, that's often covered under a separate equipment
                        warranty, or under your homeowners' insurance. <br>Find out if and how your panels are covered
                        for
                        damage, and whom to call to file a claim. Either way, don't attempt to install solar panels or
                        make repairs yourself unless you're experienced with home solar systems.
                    </p>

                </div>

            </div>
        </div>
    </section>
    <section class="about-why">

        <div class="contain container mt-3 mb-3">


            <div class="body mt-5 mb-4">

                <div class="sepa">
                    <h1 class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">Conclusion: Are solar
                        panels hard to maintain?
                    </h1>
                    <h3 class="mt-2" data-wow-delay="0.5s" data-wow-duration="3s">
                        All-in-all, maintaining your solar panels is pretty easy.
                    </h3>
                    <p class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">. Just be sure to get a
                        good warranty and good insurance, and can keep your panels free of dirt and debris buildup. <br>
                        Do
                        that, and your panels should continue to operate at peak efficiency, bringing you clean,
                        renewable solar power for years to come. <br> Learn more about installing solar panels in your
                        home
                        today! (Link to installation page)

                    </p>

                </div>
                <div class="sepa-image">
                    <img src="{% static 'img/conc.jpeg'%}" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="cont text-center ">

        <a href="{% url 'product:contact' %}" type="button" class="btn orange mt-5">Contact Us</a>
    </section>
</main>
{% endblock %}