{% extends 'prodbase.html' %} {% block content %}
<div class="container">
    <div class="table-responsive text-nowrap table-hover">
        <h2>Order Summary</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total Product Price</th>

                </tr>
            </thead>
            <tbody>
                {% for order_item in object.items.all %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{ order_item.item.title }}</td>
                    <td>&#8358; {{ order_item.item.price }}</td>
                    <td><a href="{% url 'product:remove-single-item-from-cart' order_item.item.slug %}" class=""><i
                                class="fas fa-minus mr-3"></i></a>{{ order_item.quantity }} <a
                            href="{% url 'product:add-single-item-to-cart' order_item.item.slug %}" class=""><i
                                class="fas fa-plus ml-3"></i></a></td>
                    <td>&#8358; {{ order_item.get_total_item_price }}
                        <a style="color:red;" href="{% url 'product:remove-order-from-cart' order_item.item.slug %}"
                            class="ml-3"><i class="fas fa-trash float-right"></i></a>
                    </td>

                </tr>
                <tr>
                    {% empty %}
                    <td colspan="12">Your Cart is empty</td>

                </tr>
                <tr>

                    <td colspan="12">
                        <a href="{% url 'product:shop'%}" class="btn btn-green float-left ml-2">Continue
                            Shopping</a>

                    </td>
                </tr>

                {% endfor %}

                {% if object.get_total %}
                <tr>
                    <td colspan="4"><b>Order Total</b></td>
                    <td><b> &#8358; {{object.get_total}}</b></td>
                </tr>
                <tr>

                    <td colspan="6">
                        <a href="{% url 'product:shop'%}" class="btn btn-green float-left mr-2">Continue Shopping</a>
                        <a href="{% url 'product:checkout' %}" class="btn btn-orange float-left">Proceed To
                            Checkout</a>
                    </td>
                </tr>
                {% endif %}


            </tbody>
        </table>
    </div>

</div> {% endblock %}