{% extends 'prodbase.html' %}
{% load static %}
{% block style %}
<title>Solar Panel | Naked Solar Limited </title>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/about.css'%}">

{% endblock %}
{% block content %}


<main>
    <section class="about-hero">

        <div class="contain container mt-4">
            <div class="descrip">
                <h1>Solar Panel</h1>
                <p>Everything you need to know </p>
            </div>
            <div class="image"><img src="{% static 'img/faq.svg'%}" alt="Naked solar"></div>
        </div>

    </section>

    <section class="about-why">

        <div class="contain container mt-3 mb-3">
            <div class="title text-center mb-3">
                <h1 class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">Solar panels are a great
                    investment
                </h1>
                <h2 class="mt-2 " data-wow-delay="0.8s" data-wow-duration="3s">But how do you maintain them?
                </h2>

            </div>

            <div class="body mt-5 mb-4">

                <div class="sepa">
                    <h1 class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">What is a solar panel?
                    </h1>
                    <h3 class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">Solar energy begins with the sun.
                    </h3>
                    <p class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">Solar panels (also known as "PV
                        panels") are used to convert light from the sun, which is composed of particles of energy called
                        "photons", into electricity that can be used to power electrical loads. <br>
                        Solar panels can be used for a wide variety of applications including remote power systems for
                        cabins, telecommunications equipment, remote sensing, and of course for the production of
                        electricity by residential and commercial solar electric systems. <br>
                        On this page, we will discuss the history, technology, and benefits of solar panels. We will
                        learn how solar panels work, how they are made, how they create electricity, and where you can
                        buy solar panels.

                    </p>

                </div>
                <div class="sepa-image">
                    <img src="{% static 'img/pan.jpg'%}" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="about-why">

        <div class="contain container mt-5 mb-2">


            <div class="body mt-5 mb-4">
                <div class="sepa-image">
                    <img src="{% static 'img/hist.jpg'%}" alt="">
                </div>
                <div class="sepa">
                    <h1 class="mt-2">A Short History of Solar Panels </h1>
                    <h3 class="mt-2">The development of solar energy goes back more than 100 years.

                    </h3>
                    <p class="mt-2">In the early days, solar energy was used primarily for the production of steam which
                        could then be used to drive machinery. But it wasn't until the discovery of the "photovoltaic
                        effect" by Edmond Becquerel that would allow the conversion of sunlight solar electric energy.
                        Becquerel's discovery then led to the invention in 1893 by Charles Fritts of the first genuine
                        solar cell which was formed by coating sheets of selenium with a thin layer of gold. And from
                        this humble beginning would arise the device we know today as the solar panel. <br>
                        Russel Ohl, an American inventor on the payroll of Bell Laboratories, patented the world's first
                        silicon solar cell in 1941. Ohl's invention led to the production of the first solar panel in
                        1954 by the same company. <br> Solar panels found their first mainstream use in space
                        satellites. For
                        most people, the first solar panel in their life was probably embedded in their new calculator -
                        circa the 1970s! <br>
                        Today, solar panels and complete solar panel systems are used to power a wide variety of
                        applications. Yes, solar panels in the form of solar cells are still being used in calculators.
                        However, they are also being used to provide solar power to entire homes and commercial
                        buildings, such as Google's headquarters in California.

                    </p>

                </div>


            </div>
        </div>
    </section>
    <section class="energy">
        <div class="body">
            <p>Using solar panels is a very practical way to produce electricity for many applications. The obvious
                would have to be off-grid living. Living off-grid means living in a location that is not serviced by the
                main electric utility grid. <br> Remote homes and cabins benefit nicely from solar power systems. No longer
                is it necessary to pay huge fees for the installation of electric utility poles and cabling from the
                nearest main grid access point. <br> A solar electric system is potentially less expensive and can
                provide
                power for upwards of three decades if properly maintained.</p>
        </div>

    </section>


    <section class="about-why">

        <div class="contain container mt-3 mb-3">


            <div class="body mt-5 mb-4">

                <div class="sepa">
                    <h1 class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">
                        How Do Solar Panels Work?

                    </h1>
                    <h3 class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">
                      Solar panels collect clean renewable energy
                    </h3>
                    <p class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">Solar panels collect clean renewable
                        energy in the form of sunlight and convert that light into electricity which can then be used to
                        provide power for electrical loads. <br>Solar panels are comprised of several individual solar
                        cells
                        which are themselves composed of layers of silicon, phosphorous (which provides the negative
                        charge), and boron (which provides the positive charge). <br> Solar panels absorb the photons and in
                        doing so initiate an electric current. <br> The resulting energy generated from photons striking
                        the
                        surface of the solar panel allows electrons to be knocked out of their atomic orbits and
                        released into the electric field generated by the solar cells which then pull these free
                        electrons into a directional current. <br>This entire process is known as the Photovoltaic
                        Effect.

                    </p>

                </div>
                <div class="sepa-image">
                    <img src="{% static 'img/pann.jpg'%}" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="about-why">

        <div class="contain container mt-3 mb-3">


            <div class="body mt-5 mb-4">
                <div class="sepa-image">
                    <img src="{% static 'img/pan.jpg'%}" alt="">
                </div>
                <div class="sepa">
                    <h1 class="mt-2" data-wow-delay="0.5s" data-wow-duration="3s">How Long Do Solar Panels Last?
                    </h1>
                    <h3 class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">
                     They also require little maintenance.
                    </h3>
                    <p class="mt-2 " data-wow-delay="0.5s" data-wow-duration="3s">Last, but not least, of the benefits
                        of solar panels and solar power is that, once a system has paid for its initial installation
                        costs, the electricity it produces for the remainder of the system's lifespan, which could be as
                        much as 15-20 years depending on the quality of the system, is absolutely free! For grid-tie
                        solar power system owners, the benefits begin from the moment the system comes online,
                        potentially eliminating monthly electric bills or, and this is the best part, actually earning
                        the system's owner additional income from the electric company. How? If you use less power than
                        your solar electric system produces, that excess power can be sold, sometimes at a premium, to
                        your electric utility company! <br>
                        There are many other applications and benefits of using solar panels to generate your
                        electricity needs - too many to list here. But as you browse our website, you'll gain a good
                        general knowledge of just how versatile and convenient solar power can be.

                    </p>

                </div>

            </div>
        </div>
    </section>

    
<section class="callback">

    <div class="contain"><a href="{% url 'product:callback' %}" class="call-btn let-btn">Let Us Call You Back</a>
        <a href="{% url 'product:inverter' %}" class="call-btn sol-btn">Inverter Options</a></div>
</section>

<section class="formerly mt-4 mb-4">
    <div class="container">
        <div class="box-8">
            <h1>Call <a href="tel:+2348143139245">0814 313 9245</a></h1>
            <p>Suite A12, Abraham Plaza, Plot 6 Ekukinam Street, Utako District, Utako, Abuja (FCT), Nigeria</p>
            <p><a href="mailto:info@nakedsolar.ng">info@nakedsolar.ng</a></p>
        </div>
        <div class="box-8">
            <h1>As at 2020, Proudly </h1><img src="{% static 'img/faq.svg' %}" alt="">
        </div>
        <div class="box-8">
            <h1>FORMERLY KNOWN AS...</h1><img src="{% static 'img/major.jpg' %}" class="major" alt="">
        </div>
    </div>
</section>
    <section class="cont text-center ">

        <a href="{% url 'product:contact' %}" type="button" class="btn orange mt-5">Contact Us</a>
    </section>
</main>
{% endblock %}